* {
    font-family: Roboto, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

body {
    padding-top: 45px;
}

.disabled a,
a.disabled {
    pointer-events: none;
}

a:hover {
    color: #5c98bd;
}

a {
    color: #6ea3c4;
}

.side-nav li a:not(.button) {
    color: #5c98bd;
}

.side-nav li a:not(.button):hover {
    color: #5c98bd;
}

header {
    background-color: #D33C44;
    color: #ffffff;
    font-size: 30px;
    height: 84px;
    line-height: 64px;
    padding: 16px 0px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.24);
}

header .header-title {
    padding-left: 80px
}

legend {
    color: #333;
}

.row {
    max-width: 80rem;
}

.row.collapse.mx-0 {
    max-width: 100%;
}

.actions.columns {
    margin-top: 1rem;
    border-left: 5px solid #5c98bd;
    padding-left: 15px;
    padding: 32px 20px;
}

.actions.columns h3 {
    color: #5c98bd;
}

.related table {
    border: 0;
    width: 100%;
    table-layout: fixed;
}

.index table thead {
    height: 3.5rem;
}

.header-help {
    float: right;
    margin-right: 2rem;
    margin-top: -80px;
    font-size: 16px;
}

small.has-tip.help {
    position: absolute;
    margin-left: 5px;
}

.header-help span {
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25rem 0.5rem 0.375rem;
    font-size: 0.8rem;
    background-color: #30a2e9;
    color: #FFF;
    border-radius: 1000px;
}

.header-help a {
    color: #fff;
}

.material-icons {
    vertical-align: middle;
}

ul.pagination .material-icons {
    font-size: 1em;
    vertical-align: text-bottom;
}

ul.pagination li a {
    color: rgba(0, 0, 0, 0.54);
    position: relative;
}

ul.pagination li.active a {
    color: #FFF;
    font-weight: bold;
    cursor: default;
}

ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(0, 0, 0, 0.54);
}

.asc:after {
    content: " \2193";
}

.desc:after {
    content: " \2191";
}

label {
    font-size: 1rem;
}

.form .error-message {
    display: block;
    padding: 0.375rem 0.25rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.54);
}

.required>label {
    font-weight: bold;
}

.required>label:after {
    content: ' *';
    color: #C3232D;
}

select[multiple] {
    min-height: 150px;
    background: none;
}

input[type=checkbox],
input[type=radio] {
    margin-right: 0.5em;
}

.date select,
.time select,
.datetime select {
    display: inline;
    width: auto;
    margin-right: 10px;
    padding-right: 2em;
}

.error label,
.error label.error {
    color: #C3232D;
}

.view h2 {
    color: #6F6F6F;
}

.view .columns.strings {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
}

.view .numbers {
    background-color: #B7E3EC;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
}

.view .columns.dates {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
    background-color: #b4e2fe;
    color: #fff;
}

.view .columns.booleans {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
    background-color: #8D6E65;
    color: #fff;
}

.view .strings p {
    border-bottom: 1px solid #eee;
}

.view .numbers .subheader,
.view .dates .subheader {
    color: #747474;
}

.view .booleans .subheader {
    color: #E9E9E9
}

.view .texts .columns {
    margin-top: 1.2rem;
    border-bottom: 1px solid #eee;
}


/** Notices and Errors **/

.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    display: block;
    clear: both;
    background-repeat: repeat-x;
    margin-bottom: 18px;
    padding: 7px 14px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}

.cake-debug,
.notice,
p.notice {
    color: #000000;
    background: #ffcc00;
}

.cake-error,
p.error {
    color: #fff;
    background: #C3232D;
}

pre {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin: 15px 0px;
    color: rgba(0, 0, 0, 0.74);
    padding: 5px;
}

.cake-error .cake-stack-trace {
    margin-top: 10px;
}

.cake-stack-trace code {
    background: inherit;
    border: 0;
}

.cake-code-dump .code-highlight {
    display: block;
    background-color: #FFC600;
}

.cake-error a,
.cake-error a:hover {
    color: #fff;
    text-decoration: underline;
}

.checks {
    padding: 30px;
    color: #626262;
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 2em;
}

.checks h4 {
    margin-bottom: 1.5rem;
}

.checks hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.checks .success,
.checks .problem {
    margin-left: 10px;
}

.checks .success:before,
.checks .problem:before {
    line-height: 0px;
    font-size: 28px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
}

.checks .success:before {
    content: "✓";
    color: green;
    margin-right: 9px;
}

.checks .problem:before {
    content: "✘";
    color: red;
    margin-right: 9px;
}

.row.row-max {
    max-width: none;
}

.flex {
    display: flex;
}

.image-previewContainer {
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-previewContainer.th:hover,
.image-previewContainer.th:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.colorpicker-result {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 9px;
    right: 9px;
    border: 1px solid;
}

.ms-parent {
    width: 100%!important;
    max-width: 100%!important;
}

.ms-parent button.ms-choice {
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    border-radius: 0;
    max-width: 100%!important;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
}

.ms-parent button.ms-choice span {
    padding: 0.5rem;
    font-size: 0.875rem;
    height: 2.3rem;
}

.form .ms-parent button:hover,
.form .ms-parent button:focus {
    background: #fafafa;
    border-color: #999;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    outline: none;
}

.ms-drop {
    border-radius: 0!important;
    position: absolute!important;
    top: 40px!important;
}

.top-bar .name h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
}

.top-bar .name h1 a {
    font-weight: bold;
    padding: 0;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.top-bar .title-area {
    background-color: #222;
}

.top-bar-section li a:not(.button) {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1em;
}

.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #222;
    background: #111;
}

.top-bar-section li.active.logout:not(.has-form) a:not(.button),
.top-bar-section li.logout:not(.has-form) a:not(.button):hover {
    background-color: #700;
    background: #700;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: #000;
}

.top-bar-section li.active.logout:not(.has-form) a:not(.button):hover {
    background: #400;
}

table {
    white-space: nowrap;
}

table td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.side-nav li.heading {
    color: #333;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.4375rem 0.875rem;
}

#actions-sidebar {
    background: #fafafa;
}

.index table {
    margin-top: 0rem;
    border: 0;
    width: 100%;
    table-layout: fixed;
}

table {
    background: #fff;
    margin-bottom: 1.25rem;
    border: none;
    table-layout: fixed;
    width: 100%;
}

table thead {
    background: none;
}

table tr {
    border-bottom: 1px solid #ebebec;
}

table thead tr {
    border-bottom: 1px solid #6ea3c4;
}

table tr th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #6ea3c4;
    text-align: left;
    border-bottom: 2px solid #6ea3c4;
}

table tr:nth-of-type(even) {
    background: none;
}

fieldset {
    border: none;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

fieldset legend {
    border-bottom: 2px solid #333;
    width: 100%;
    line-height: 2rem;
    font-size: 1.5em;
}

.form button[type="submit"] {
    float: right;
    text-transform: uppercase;
    box-shadow: none;
}

.form button:hover,
.form button:focus {
    background: #1ea7fb;
    box-shadow: none;
}

.has-tip,
.has-tip:hover,
.has-tip:focus {
    border-bottom: none;
    cursor: pointer;
}

button {
    background: #30a2e9;
}

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}

div.message.hidden {
    height: 0;
}

.vertical-table th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #6ea3c4;
    border: none;
    text-align: left;
}

.vertical-table {
    vertical-align: middle;
}

.vertical-table td {
    text-align: right;
}

.content {
    padding: 2rem;
}


/* Use 'one true layout' methods to get equal height columns */

.container {
    overflow: hidden;
    min-height: 100%;
    /* full height almost always */
}


/* Force equal height by overflowing */

.content,
#actions-sidebar {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.content h3 {
    color: #3b7192;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
}

.content h4 {
    color: #3b7192;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #3b7192;
    position: relative;
}

.content .related h4 {
    color: #346380;
    padding-bottom: 0.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 0px;
}

table td {
    vertical-align: top;
    word-break: break-all;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-bottom: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input[name='show_videos'].ng-pristine:checked+.slider,
input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input[name='show_videos'].ng-pristine:checked+.slider:before,
input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.content h4 .switch,
.content .checkbox-field .switch {
    top: 2px;
}

.slide-hide,
.slide-show {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.slide-hide {
    position: relative;
    top: 0;
}

.slide-hide.slide-hide-active {
    position: absolute;
    top: -100px;
}

.slide-show {
    position: absolute;
    top: 100px;
}

.slide-show.slide-show-active {
    position: relative;
    top: 0px;
}

.image-preview {
    max-width: 100%;
}

@media(max-width: 460px) {
    .image-flex {
        display: block;
    }
}

@media(max-width: 640px) {
    #actions-sidebar {
        padding-bottom: 2rem;
        margin-bottom: 0;
    }
}

@media (min-width:1024px) {
    .image-preview {
        max-width: 300px;
    }
}